@page
@model ZewailCiryScienceWeek.Pages.Admin.delete_visModel
@{
    Layout = "_LayoutResearcher";
}

<header id="header" class="d-flex align-items-center p-4 ">
    <div class="container-fluid container-xxl d-flex align-items-center justify-content-between navbar order-last order-lg-0" id="navbar">

        <div id="logo">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="index.html" class="scrollto"><img src="~/img/MainPagePic/Artboard 3 (1).png" alt="" title=""></a>
        </div>
        <ul>
            <li><a class="nav-link scrollto" href="/Index">Home</a></li>
            <li><a class="nav-link scrollto" href="/Analysts/Analysis">Analysis</a></li>
            <li><a class="select-control buy-tickets scrollto nav-link" href="href="/Admin/visitor"">Visitore Info</a></li>
            <li><a class="nav-link scrollto" href="/Admin/tickets">Tickets</a></li>
            <li><a class="nav-link scrollto" href="/Admin/Promotable">Promo Codes</a></li>
            <li><a class="nav-link scrollto" href="/Admin/AdminMain">Admin</a></li>
        </ul>
        <!--=====================================================-->


        <i class="bi bi-list mobile-nav-toggle"></i>

    </div>


</header>

<section class="h-100 gradient-custom-2" style="background-color: #E5EBEB">
    <div method= "post" class="text-center" style="padding: 200px">
        <h3 style="background-color:#C9D5D6">Are you sure you want to delete these data?</h3>
    <button type="button" class="btn btn-secondary">Yes</button>
    <button type="button" class="btn btn-dark" asp-page="/Index">Cancel</button>
</div>
</section>