@page
@model ZewailCiryScienceWeek.Pages.Admin.delete_visModel
@{
    Layout = "_LayoutOFMainPageForDifferetUser";
}



<section class="h-100 gradient-custom-2" style="background-color: #E5EBEB">
    <div method="post" class="text-center" style="padding: 200px">
        <h3 style="background-color:#C9D5D6">Are you sure you want to delete these data?</h3>
        <button type="submit" class="btn btn-secondary">Yes</button>
        <button type="button" class="btn btn-dark" asp-page="/Index">Cancel</button>
    </div>
</section>